@media (min-width: 992px ) and (max-width: 1199px ){

// ABOUT ME SECTION
div.about-me .about-me-text {
  width: 100%;
}
div.about-me .profile-pic {
  width: 100%;
}
div.about-me .about-me-text {
  width: 100%;
}

}
