@media (min-width: 0px ) and (max-width: 768px) {

// HEADER SECTION
.navbar-brand {
  display: none;
}

header nav ul {
  padding-right: 0;
  text-align: center;
}
.navbar li {
  padding: 11px;
}

// NAME IN HERO
.hero-container {
  background-attachment: scroll;
  height: 650px;
  span {
    display: block;
  }
  h1 {
    padding-top: 200px;
  }
}

// ABOUT ME SECTION
div.header-text {
  margin-top: 50px;
  div.header-shadow-text {
    font-size: 66px;
  }
}

div.about-me {
    margin-top: 50px;
}
section.about-me-section {
    padding-bottom: 50px;
}
#profile-pic-padding {
  margin-top: 15px;
}

// PORTFOLIO SECTION
section.portfolio-section .portfolio-wrapper {
  margin-top: 50px;
}
section.portfolio-section hr {
  display: block;
  margin-top: 50px;
  opacity: 1;
  border-top: 1px solid #eee;
}

.container.surfsupModal {
  padding: 0px;
}



// NAVBAR
header nav ul li {
    display: inline-block;
    padding: 14px;
}
header nav ul li A {
    font-size: 13px;
}

}
