
//  MODAL
.modal {
  background-color: rgba(255, 255, 255, 0.97);
}
.modal.fade.bs-example-modal-lg.in {
  padding-right: 0px;
  z-index: 10000000000;
}

.modal.in .modal-dialog {
  // width: 75%;
  margin-top: 50px;
}

.modal-content {
  box-shadow: none;
  border: none;
  background: none;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

// MODAL CONTENT
div.surfsupModal {
  width: 100%;
  padding: 20px 50px;
  h4 {
    color: #555;
    font-weight: 400;
    background-color: #eee;
    // text-transform: uppercase;
    // border-bottom: 2px solid #777;
    display: inline;
  }
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  p {
    margin-top: 2px;
    line-height: 24px;
    font-size: 16px;
    color: #999;
    font-weight: 100;
  }
  // span {
  //   color: #555;
  //   font-weight: 400;
  // }
}
