@media (min-width: 768px ) and (max-width: 991px) {

  // ABOUT ME SECTION
  div.about-me .about-me-text {
    width: 100%;
  }
  div.about-me .profile-pic {
    width: 100%;
  }
  div.about-me .about-me-text {
    width: 100%;
  }

}
