
//  MODAL
.modal {
  background-color: rgba(255, 255, 255, 0.97);
}
.modal.fade.bs-modal-lg.in {
  padding-right: 0px;
  z-index: 10000000000;
}

.modal.in .modal-dialog {
  // width: 75%;
  margin-top: 50px;
}

.modal-content {
  box-shadow: none;
  border: none;
  background: none;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

// MODAL CONTENT
div.surfsupModal {
  width: 100%;
  padding: 20px 50px;
  .weatherImages {
    margin-bottom: 30px;
  }
  // span {
  //   color: #555;
  //   font-weight: 400;
  // }
}
