.about-me-section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 200px; }

div.header-text {
  position: relative;
  width: 100%;
  z-index: 2;
  padding-bottom: 50px;
  margin-top: 200px; }
  div.header-text div.header-shadow-text {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    color: rgba(60, 60, 60, 0.08);
    z-index: 1; }
  div.header-text h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    text-align: center;
    z-index: 200;
    color: #777; }

div.about-me {
  margin-top: 100px; }
  div.about-me .about-me-text {
    text-align: left; }
  div.about-me .profile-pic {
    text-align: center;
    padding: 0; }
  div.about-me img {
    width: 250px;
    height: 375px;
    border: 3px solid #777; }
  div.about-me h3 {
    font-weight: 600;
    color: #777; }
  div.about-me p {
    font-size: 18px;
    line-height: 30px;
    color: #777; }

* {
  font-family: 'Open Sans', sans-serif; }

body {
  height: 3000px; }

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/surfBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 850px; }
  .hero-container div.clearfix {
    clear: both; }
  .hero-container h1 {
    padding-top: 350px;
    color: #1FB3F7;
    font-size: 70px;
    margin: 0;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .hero-container span {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: none; }
  .hero-container h3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px; }

header {
  position: fixed;
  height: 100px;
  z-index: 10000000; }
  header nav {
    display: inline-block;
    float: right; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right; }
  header nav ul li {
    display: inline-block;
    padding: 39px; }
  header nav ul li a {
    color: #777;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none; }
  header a:active, header a:visited, header a:focus {
    text-decoration: none;
    color: #777;
    border-bottom: 2px solid #777; }
  header nav ul li a:hover {
    text-decoration: none;
    color: #777;
    border-bottom: 2px solid #777; }

div.header-text {
  position: relative;
  width: 100%;
  z-index: 2;
  padding-bottom: 50px;
  margin-top: 200px; }
  div.header-text div.header-shadow-text {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    color: rgba(60, 60, 60, 0.08);
    z-index: 1; }
  div.header-text h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    text-align: center;
    z-index: 200;
    color: #777;
    text-transform: uppercase; }

section.portfolio-section .col-sm-5 {
  padding-left: 40px; }

section.portfolio-section img {
  width: 100%; }

section.portfolio-section .portfolio-wrapper {
  margin-top: 150px; }

section.portfolio-section h1.portfolio-name {
  text-align: left;
  font-weight: 800;
  color: #777;
  font-size: 42px;
  text-transform: uppercase; }

section.portfolio-section p {
  font-size: 22px;
  color: #777;
  line-height: 42px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px; }

section.portfolio-section button {
  margin-top: 10px;
  width: 65%;
  height: 70px;
  border: none;
  background-color: #777;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px; }

section.portfolio-section button:hover {
  background-color: #fff;
  border: 2px solid #777;
  color: #777; }

footer {
  margin-top: 150px;
  width: 100%;
  height: 400px;
  background-color: #777; }

@media (min-width: 0px) and (max-width: 768px) {
  .hero-container span {
    display: block; }
  header nav ul li {
    display: inline-block;
    padding: 15px; }
  header nav ul li A {
    font-size: 13px; } }
